<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302203432289-gsqifsrse897npk9l9n19gmsd3an1fuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302203432289-gsqifsrse897npk9l9n19gmsd3an1fuh</string>
	<key>API_KEY</key>
	<string>AIzaSyAmb1e4q-5e2lTmBKEp0sJlXea5nFTa2us</string>
	<key>GCM_SENDER_ID</key>
	<string>302203432289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.usergy.HomeSafe.Widget</string>
	<key>PROJECT_ID</key>
	<string>homesafe-8d096</string>
	<key>STORAGE_BUCKET</key>
	<string>homesafe-8d096.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302203432289:ios:b61c12bdacf0d81e032920</string>
</dict>
</plist>